<div class='row'>

  {{! відновлення паролю  }}
  <div class='col s6 offset-s3'>
    {{#if error}}
      <p class='alert'>{{error}}</p>
    {{/if}}
    <h1>Додати новий пароль</h1>
    <form action='/auth/password' method='post'>
      <div class='input-field'>
        <input
          id='password'
          name='password'
          type='password'
          class='validate'
          required
        />
        <label for='password'>Новий пароль</label>
        <span class='helper-text' data-error='напишіть пароль'></span>
      </div>

      <input type='hidden' name='_csrf' value='{{csrf}}' />
      <input type='hidden' name='userId' value='{{userId}}' />
      <input type='hidden' name='token' value='{{token}}' />
      <button type='submit' class='btn btn-primary'>Оновити пароль</button>
    </form>
  </div>

</div>